.fade-in {
  opacity: 0;

  -webkit-animation: fade-in ease-in 1;
  -moz-animation: fade-in ease-in 1;
  animation: fade-in ease-in 1;

  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  animation-duration: 0.8s;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#header {
  position: fixed;
  top: 20%;
  width: 100%;
}

#brand h1 {
  text-align: center;
  font-size: 100px;
  letter-spacing: 20px;
  text-shadow: 2px 2px #888888;
}

#sub-text {
  text-align: right;
  font-size: 20px;
  left: 110%;

  -webkit-animation: slide-in 0.4s 1;
  -moz-animation: slide-in 0.4s 1;
  animation: slide-in 0.4s 1;

  /* Play after gavel is done slamming */
  -webkit-animation-delay: 3.9s;
  -moz-animation-delay: 3.9s;
  animation-delay: 3.9s;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#account-links button {
  display: inline-block;
  background-color: #fff084;
  color: #222127;
  font-size: 30px;
  padding: 15px 25px;
  width: 300px;
  margin-top: 25%;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #b2a64a;
}

#account-links button:hover {
  background-color: #76accc;
  box-shadow: 0 9px #3a647c;
}

#account-links button:active {
  background-color: #76accc;
  box-shadow: 0 5px #3a647c;
  transform: translateY(4px);
}

#login-btn {
  text-align: right;
  animation-delay: 2.1s;
}

#register-btn {
  text-align: left;
  animation-delay: 2.9s;
}

#gavel {
  /* Fade in after header */
  animation-delay: 1s;
}

#gavel .fas {
  color: #7a654e;
  font-size: 300px;
  transform: rotate(-45deg);

  -webkit-animation: slam 2s 1;
  -moz-animation: slam 2s 1;
  animation: slam 2s 1;

  /* Play after fading in */
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/****************************************************** KEYFRAMES *****************************************************/

@keyframes slam {
  0% {
    right: 41%;
    transform: rotate(-45deg);
  }
  20% {
    right: 55%;
    transform: rotate(-115deg);
  }
  40% {
    right: 41%;
    transform: rotate(-45deg);
  }
  80% {
    right: 28%;
    transform: rotate(10deg);
  }
  100% {
    right: 41%;
    transform: rotate(-45deg);
  }
}

@-moz-keyframes slam {
  0% {
    right: 41%;
    -moz-transform: rotate(-45deg);
  }
  25% {
    right: 55%;
    -moz-transform: rotate(-135deg);
  }
  50% {
    right: 28%;
    -moz-transform: rotate(45deg);
  }
  100% {
    right: 41%;
    -moz-transform: rotate(-45deg);
  }
}

@-webkit-keyframes slam {
  0% {
    right: 41%;
    -webkit-transform: rotate(-45deg);
  }
  25% {
    right: 55%;
    -webkit-transform: rotate(-135deg);
  }
  50% {
    right: 28%;
    -webkit-transform: rotate(45deg);
  }
  100% {
    right: 41%;
    -webkit-transform: rotate(-45deg);
  }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slide-in {
  from { left: 110%; }
  to { left: 0; }
}

@-webkit-keyframes slide-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-moz-keyframes slide-in {
  from { opacity: 0; }
  to { opacity: 1; }
}